
/* FORM CONTACTO */
.form__container {
    max-width: 90%;
    width: 90%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.form__container h2 {
    font-size: 2.5rem;

}

.form__container-personal,
.form__container-contacto,
.form__container-mensaje,
.form__container-lista {
    border: 1px solid #b6b6b6;
    padding: 20px;
    border-radius: 1rem;
    margin-top: 20px;
    box-shadow: 0 0 10px #525252;
}

.form__container-mensaje textarea {
    height: 150px;
}


.form-buttom {
    padding: 20px 0px;
    justify-self: center;
}

.form__container-personal label {
    padding: 20px 0;
}

.form__container-mensaje label {
    padding: 10px 0;

}

.form__container-mensaje div {
    display: flex;
    flex-direction: column;
}

.form__container input {
    margin-left: 30px;
}

.form__container select {
    margin-left: 30px;
    padding: 0 20px;
}

.form-buttom-send,
.form-buttom-restart {
    background-color: #880000;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 0.5rem;
    transition: 0.5s;
}

.form-buttom-send:hover,
.form-buttom-restart:hover {
    background-color: #000000;
}


/* ------ QUERIES -------- */




/* HEADER */

@media (min-width: 700px) and (max-width: 1024px) {

    /* HERO  */
    .hero__container h1 {
        font-size: 4rem;
        text-align: center;
        font-weight: 600;
        margin: 60px 0 20px 0;
        letter-spacing: 2rem;
    }

    .hero__container p {
        text-align: center;
        font-size: 2rem;
    }

    .hero__container img {
        max-width: 100%;
        width: 100vw;
    }

    /* NOTICIAS */

    .grid__container {
        width: 80%;
        margin: auto;
    }

    .section__grid h2 {
        font-size: 3rem;
        font-weight: 600;
        padding: 0 100px;
        margin: 100px 0;

    }

    .subgrid-item p {
        margin-right: 15px;
    }

    .grid__container-item img {
        max-width: 100%;
        height: 300px;
    }

    .grid__container h3 {
        font-size: 1.5rem;
    }

    .grid__container h4 {
        font-size: 1rem;
    }

    .subgrid-item {
        row-gap: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .subgrid-item h3 {
        grid-column: span 2 / span 2;
    }

    .subgrid-item h4 {
        grid-column: span 2 / span 2;
        grid-row-start: 2;
    }

    .grid__container-buttom {
        width: 200px;
    }



    /* DISCOS */


    .flex__container-discs {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        margin: auto;
        gap: 20px;
        padding: 20px;
        text-align: justify !important;
    }

    .container-discs {
        border: 1px solid #dddddd;
        border-radius: 1rem;
        padding: 20px;
    }

    .section__discs h2 {
        font-size: 3rem;
        font-weight: 600;
        padding: 0 100px;
        margin: 100px 0;
    }

    .container-discs img {
        max-width: 100%;
        width: 100vw;
        border-radius: 1rem;
        box-shadow: 0 0 15px #484848;
    }

    .container-discs h3 {
        font-size: 2.5rem;
        text-align: center;
        padding: 20px;
    }

    .container-discs h4 {
        font-size: 1.5rem;
        padding: 10px;
    }

    .container-discs p {
        text-align: justify;
    }

    .disc-buttom-container {
        align-self: center;
        margin-top: 20px;
        font-size: 1.5rem;
    }

    #disc-buttom {
        padding: 10px 15px;
    }

    /* CARUSEL */
    .carousel__container {
        display: flex;
        flex-direction: column;
        margin: 100px 0;
    }

    .carousel-buttom-container {
        align-self: center;
        margin-top: 50px;
        font-size: 1.5rem;
    }

    #carouselExampleIndicators img {
        border-radius: 1rem;
        max-width: 100%;
        width: 100vw;
    }

    #carouselExampleIndicators {
        width: 80%;
        margin: auto;
    }

    .carousel-title {
        font-size: 3rem;
        font-weight: 600;
        margin: 100px 100px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        position: absolute;
        max-height: 100%;
        top: 300px;
        height: 250px;
    }

    .carousel-buttom-container {
        padding: 50px 0;
        align-self: center;
    }

    /* FOOTER */
    .footer__container {
        display: flex;
        flex-direction: column;
    }

    .footer__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        text-align: center;
        margin-bottom: 50px;
    }

    .footer__social {
        display: flex;
        flex-direction: row;

        gap: 50px;
    }

    .footer__social i {
        font-size: 2rem;
    }

    .footer__list li {
        margin: 20px;
    }

    .footer__container a {
        font-size: 1rem;
    }

    .buttom_container-home {
        display: none;
    }
}


@media (min-width: 1024px) and (max-width: 1280px) {

    /* HEADER */
    .header__nav-list {
        gap: 50px;
    }

    /* HERO */
    .hero__container h1 {
        font-size: 5rem;
        text-align: center;
        font-weight: 600;
        margin: 60px 0 20px 0;
        letter-spacing: 2rem;
    }

    .hero__container p {
        text-align: center;
        font-size: 2rem;
    }

    /* NOTICIAS */

    .section__grid {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 100px;

    }

    .section__grid h2 {
        font-size: 3rem;
        font-weight: 600;
        margin: 100px 120px;

    }

    .grid__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-evenly;
        align-items: center;
    }

    .subgrid-item {
        display: flex;
        flex-direction: column;
    }

    .subgrid-item img {
        max-width: 100%;
        width: 100%;
        order: -2;
        margin-bottom: 20px;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgb(63, 63, 63);

    }

    .grid__container-item {
        width: 35%;
    }

    /* DISCOS */


    .section__discs h2 {
        font-size: 3rem;
        margin: 100px 0;
    }

    .section__discs {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;

    }

    .flex__container-discs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        gap: 50px;
    }

    .container-discs img {
        max-width: 100%;
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgb(63, 63, 63);


    }

    .container-discs {
        border: 1px solid #dddddd;
        border-radius: 1rem;
        padding: 30px;

    }


    .container-discs h3 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 30px;
    }

    .container-discs h4 {
        margin: 20px 0;
        text-align: justify;
    }

    .disc-buttom-container {
        align-self: center;
        margin: auto;
        grid-column: span 2 / span 2;
    }

    .disc-buttom-complet {
        padding: 10px 25px;
        font-size: 1.5rem;
    }

    /* CAROUSEL */

    .carousel__container {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 80%;
        padding: 100px 0;
        position: relative;
    }

    .carousel__container h2 {
        font-size: 3rem;
        margin: 100px 0;
    }

    .carousel__container img {
        border-radius: 1rem;
    }

    .carousel-indicators {
        width: auto;
    }

    .carousel-control-next,
    .carousel-control-prev {
        position: absolute;
        max-height: 100%;
        top: 300px;
        height: 400px;
    }

    .carousel-buttom-container {
        padding: 50px 0;
        align-self: center;
    }

    /* FOOTER */

    .footer__container {
        display: flex;
        flex-direction: column;
    }

    .footer__list {
        display: flex;
        flex-direction: row;
        gap: 50px;
        font-size: 1.5rem;
        padding: 20px 0;
    }

    .footer__social {
        flex-direction: row;
        gap: 100px;
        padding: 50px 0;
    }

    .footer__social i {
        font-size: 3rem;
    }

    .buttom_container-home i {
        position: fixed;
        bottom: 100px;
        right: 10px;
        border: 1px solid black;
        padding: 10px;
        background-color: #880000;
        color: #ffffff;
        border-radius: 1rem;
        transition: 0.6s;
    }

    .buttom_container-home i:hover {
        background-color: #ffffff;
        color: #ff0000;
    }
}



@media (min-width:1281px) {

    /* HEADER */
    .header__nav-list {
        gap: 80px;
    }

    /* HERO */
    .hero__container {
        max-width: 100%;
        width: 60%;
        margin: auto;
    }

    .hero__container h1 {
        font-size: 10rem;
        font-weight: 600;
        text-align: center;
        margin: 50px 0;
    }

    .hero__container p {
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: 50px;
    }

    .hero__container img {
        box-shadow: 0 0 10px rgb(63, 63, 63);
        border-radius: 1rem;
    }



    /* NOTICIAS */
    .section__grid {
        display: flex;
        flex-direction: column;
    }

    .grid__container {
        display: flex;
        flex-direction: row;
        gap: 50px;
        width: 80%;
        margin: auto;
        flex-wrap: wrap;
    }

    .grid__container-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 30%;
    }

    .subgrid-item {
        row-gap: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    .section__grid h2 {
        font-size: 3rem;
        font-weight: 600;
        padding: 0 100px;
        margin: 100px 150px;

    }

    .subgrid-item p {
        margin-right: 15px;
    }

    .grid__container-item img {
        max-width: 100%;
        width: 100%;
        box-shadow: 0 0 10px rgb(63, 63, 63);
        border-radius: 1rem;
    }

    .grid__container h3 {
        font-size: 2rem;
        text-align: justify;
    }

    .grid__container h4 {
        font-size: 1.2rem;
    }

    .grid__container-buttom {
        width: 200px;
    }



    /* DISCOS */
    .section__discs h2 {
        font-size: 3rem;
        margin: 100px 0;
    }

    .section__discs {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;

    }

    .flex__container-discs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        gap: 50px;
    }

    .container-discs img {
        max-width: 100%;
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgb(63, 63, 63);
        align-self: center;
    }

    .container-discs {
        border: 1px solid #dddddd;
        border-radius: 1rem;
        padding: 30px;

    }

    .container-discs h3 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 30px;
    }

    .container-discs h4 {
        margin: 20px 0;
        text-align: justify;
    }

    .disc-buttom-container {
        align-self: center;
        margin: auto;
        grid-column: span 2 / span 2;
    }

    .disc-buttom-complet {
        padding: 10px 25px;
        font-size: 1.5rem;
    }



    /* CAROUSEL */
    .carousel__container {
        display: flex;
        flex-direction: column;
    }

    #carouselExampleIndicators {
        width: 50%;
        margin: auto;
    }

    .carousel__container h2 {
        padding-bottom: 100PX;
        font-size: 3rem;
        margin: 100px 0 0 250px;
        font-weight: 600;
    }

    .carousel__container img {
        border-radius: 1rem;
    }

    .carousel-buttom-container {
        align-self: center;
        margin: 100px 0;
    }

    /* FOOTER */
    .footer__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer__list {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
    }

    .footer__social {
        display: flex;
        flex-direction: column;

    }

    .footer__social a {
        font-size: 2.5rem;
        margin: 15px 0;
    }

    .footer__list i {
        margin: 0 20px;
    }

    .footer__container img {
        display: block;
        max-width: 100%;
        width: 50%;
        margin: auto;
    }

    .buttom_container-home i {
        position: fixed;
        bottom: 100px;
        right: 50px;
        border: 1px solid black;
        padding: 20px;
        background-color: #880000;
        color: #ffffff;
        border-radius: 1rem;
        transition: 0.6s;
    }

    .buttom_container-home i:hover {
        background-color: #ffffff;
        color: #ff0000;
    }



}