/* Selections */
p::selection {
    background-color: #000000;
    color: #ff0000;
}

h1::selection {
    background-color: #000000;
    color: #ff0000;
}

h2::selection {
    background-color: #000000;
    color: #ff0000;
}

h3::selection {
    background-color: #000000;
    color: #ff0000;
}

h4::selection {
    background-color: #000000;
    color: #ff0000;
}

h5::selection {
    background-color: #000000;
    color: #ff0000;
}

h6::selection {
    background-color: #000000;
    color: #ff0000;
}

a::selection {
    background-color: #000000;
    color: #ff0000;
}
/* FIN selection */
///
/// 
/// 
/* VARIABLES */
$color-primary: #000000;
$color-secundary: #ff0000;
$color-terciary: #5c0000;
/* FIN variables */
///
/// 
/// 
/* MIXIN */
@mixin flex($flex, $justify, $align, $direction){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
/* FIN mixin */
///
/// 
/// 
/* Tipografía base: móviles pequeños (menos de 576px) */
@media screen and (max-width: 320px) {

h1 {
  font-size: clamp(1.8rem, 4vw + 1rem, 2rem);
}

h2 {
  font-size: clamp(1.3rem, 2vw + .5rem, 1.5rem);
}

h3 {
  font-size: 18px;
}
h4{
  font-size: 14px;
}

p {
  font-size: 14px;
}
}
/* >=576px (landscape phones) */
@media screen and (min-width: 321px) and (max-width: 576px) {
  h1 {
    font-size: clamp(2rem, 3vw + 1rem, 2.4rem);
  }

  h3 {
    font-size: 20px;
  }
  h4{
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}

/* >=768px (tablets) */
@media screen and (min-width: 577px) and (max-width: 768px) {
  h1 {
    font-size: clamp(2.4rem, 2.5vw + 1rem, 2.8rem);
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}

/* >=992px (desktops) */
@media screen and (min-width: 769px) and (max-width: 1440px){
  h1 {
    font-size: clamp(3.2rem, 1.5vw + 1rem, 4rem);
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}

/* >=1200px (pantallas grandes) */
@media screen and (min-width: 1441px) {
  h1 {
    font-size: clamp(3.2rem, 1.5vw + 1rem, 4rem);
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}