//////////////////////////// 
///* ESTRUCTURA BASICA *///
//////////////////////////
.footer__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    .footer_list-container{
        .footer__list{
            .footer__item{
                list-style: none;
                margin: 10px 0;
                    a{
                        margin-left: 20px;
                        text-decoration: none;
                        color: #ffffff;
                        transition: 0.5s;
                            &:hover {
                                color: #ff0000;}
                    }
            }
        }
    }
    .footer__container-logo{
        img{
            display: block;
        }
    }
    .footer__social{
        @include flex (flex, center, center, column);
        margin: 5vh;
            a{
                font-size: 25px;
                color: #ff0000;
                transition: 0.5s;
                    i{
                        transition: 0.8s;
                            &:hover {
                                color: #ffffff;}
                    }
        }
    }
}///* Fin - Estructura basica///
