//////////////////////////// 
///* ESTRUCTURA BASICA *///
//////////////////////////
header{
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name: header;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 20px rgb(63, 63, 63);
    .header__checkbox{
        display: none;
            &:checked~.header__nav {
            display: flex;
            }
    }
    .header__open-nav-button{
        color: $color-secundary;
        font-size: 4rem;
        font-weight: 600;
        position: absolute;
        right: 30px;
        transition: 1s;
    }
    .header_logo-container{
        img{
            max-width: 100%;
            width: 50px;
            margin: 15px 30px;}
    }
    .header__nav{
        display: none;
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        z-index: -1;
        background-color: $color-primary;
        padding: 0 !important;
        margin: 0 !important;
        .header__nav-list{
            display: flex;
            flex-direction: column;
            margin: auto;
            height: 40vh;
            width: 100% !important;
            padding: 0 !important;
            justify-content: flex-end;
            transition: 1s;
            .header__nav-item{
                list-style: none;
                    a{
                color: #ffffff;
                text-decoration: none;
                transition: 1s;
                    &:is(:hover, :active) {
                    color: #bf0000;
                    }
                }
            }
        }
    }
}///* fin - ESTRUCTURA BASICA */
