//////////////////////////// 
///* ESTRUCTURA BASICA *///
//////////////////////////
/* HERO */
.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/portada/fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;

    h1 {
        font-size: 20vw;
        letter-spacing: .5vw;
        font-family: 'Engagement' !important;
        margin: 5rem auto;
        color: #fff;
        background: linear-gradient(45deg, #000000, #930018, #a4007b, #ff012b, #000000);
        background-size: 200%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 4s;
        animation: h1gradient 2.5s linear infinite;

        @keyframes h1gradient {
            to {
                background-position: 200%;
            }
        }
    }

    img {
        max-width: 100%;
        width: 100vw;
        height: auto;
        margin-top: 15vh;
        scale: 1.2;
        filter: brightness(.7);
    }

    .imgbg {
        display: none;
    }
}

//*fin - HERO*/
///
/// 

///
/// 
///* NOTICIAS */

.section__grid {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5rem;

    .grid__container {
        .grid__container-item {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            .subgrid-item {
                p {
                    text-wrap: pretty;
                }

                .grid__container-buttom {
                    display: flex;
                    justify-content: start;

                    a {
                        font-size: 1.5vh;
                        padding: 5px 15px;
                        background-color: #910101;
                        box-shadow: 3px 4px 0 0 #66221c;
                        color: #ffff;
                        border-radius: 4px;
                        text-decoration: none;
                        transition: 1s;

                        &:hover {
                            background-color: #000000;
                            box-shadow: 3px 4px 0 0 #484848;
                        }
                    }
                }
            }
        }

        .news-container {
            display: flex;
            justify-content: center;
            margin-top: -50px;

            a {
                font-size: 1.5vh;
                padding: 5px 15px;
                background-color: #910101;
                box-shadow: 3px 4px 0 0 #66221c;
                color: #ffff;
                border-radius: 4px;
                text-decoration: none;
                transition: 1s;

                &:hover {
                    background-color: #000000;
                    box-shadow: 3px 4px 0 0 #484848;
                }
            }
        }
    }
}

//*fin - NOTICIAS*/
///
/// 
///* DISCOS */
/* 
.section__discs{
    .flex__container-discs{
        .container-discs{
            p{
            text-wrap: pretty;
            }
            a{
            font-size: 1.5vh;
            background-color: #910101;
            box-shadow: 3px 4px 0 0 #66221c;
            padding: 5px 10px;
            color: #ffff;
            text-decoration: none;
            transition: 1s;
            border-radius: 5px;
                &:hover {
                background-color: #000000;
                }
            }
        }
        .disc-buttom-container{
            display: flex;
            justify-content: center;
            a{
            text-decoration: none;
            border-radius: 1rem;
            color: #ffff;
            padding: 1vh 3vw;
            background-color: #ff0000;
            box-shadow: 3px 4px 0 0 #66221c;
            transition: 1s ease;
                &:hover{
                    background-color: #000000;
                    box-shadow: 3px 4px 0 0 #66221c;
                }
            }
        }
    }
} */

/////////////////////////////// 
///*fin ESTRUCTURA BASICA *///
/////////////////////////////