* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

main h2 {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 1.5rem 0;
}

.historia_container-list {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 90%;
    margin: auto;
    padding: 20px 0 50px 0;
}

.historia_container-list ul {
    list-style: none;
}

.historia_container-list ul li {
    margin-top: 1rem;
    padding: 20px;
    text-align: center;
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 5px;
}

.historia_container-list ul li a {
    text-decoration: none;

}


.items {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding: 20px 0;
}

.items h3 {
    font-size: 2rem;
    letter-spacing: 5px;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.items .img-container {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 1rem;
    margin: 2rem 0;
}

.items .img-container p {
    text-align: justify;
}

.items .items-container img {
    max-width: 100%;
    margin: 1rem 0;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px #656565;
}

.items .items-container h4 {
    font-size: 1rem;
    text-align: justify;
    margin: 1rem 0;
}

.items p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.items .nota {
    display: flex;
    flex-direction: column;
    background-color: #dcdcdc;
    border-radius: 0 20px 20px 0;
    margin: 20px 0;
    padding: 1.5rem;
    border-left: 1rem solid rgb(110, 110, 110);
}

.items .nota span {
    align-self: flex-end;
    font-style: oblique;
}

.items .nota .comilla {
    font-size: 2rem;
    letter-spacing: 1rem;
}